---
import BaseLayout from '@layouts/base.astro';

import { translate as t } from '../logic/translation';
import { getLanguageFromPathname } from '../logic/utils';
import { DEFAULT_LANGUAGE } from '../../config';

export const prerender = false;

const language = getLanguageFromPathname(Astro.url.pathname) ?? DEFAULT_LANGUAGE;
const homeUrl = language === DEFAULT_LANGUAGE ? '/' : `/${language}`;
---

<BaseLayout language={language}>
    <div class="h-[70vh] flex flex-col justify-center">
        <div class="flex flex-col justify-center items-center">
            <h1>{t('Page not found.', language)}</h1>
            <h2>
                <a href={homeUrl}>{t('Go Home', language)}</a>
            </h2>
        </div>
    </div>
</BaseLayout>
