---
import BaseLayout from '@layouts/base.astro';
import { DEFAULT_LANGUAGE } from '../../config';

export function getStaticPaths() {
    // TODO: Implement routes
    return [{ params: { path: 'todo' } }];
}
---

<BaseLayout language={DEFAULT_LANGUAGE}>
    <div class="text-xl font-bold p-4 m-12"><span class="font-mono">(default language) | </span>content goes here</div>
</BaseLayout>
