---
import { Language } from '@catechism/source/types/language';
import { translate as t } from '../logic/translation';

interface Props {
    language: Language;
}

const { language } = Astro.props;
---

<div class="p-8 max-w-7xl mx-auto">
    <h1 class="mt-[15vh]">{t('Catechism of the Catholic Church', language)}</h1>
</div>
