---
import { DEFAULT_LANGUAGE } from '@catechism/source/types/types';

import BaseLayout from '@layouts/base-layout.astro';
---

<BaseLayout language={DEFAULT_LANGUAGE}>
    <div class="flex justify-center items-center">
        <h1>Index: root</h1>
    </div>
</BaseLayout>
