---
import { ArticleParagraph, Language } from '@catechism/source/types/types';
import { getAllChildContent } from '@catechism/source/utils/content';

import { getUrlFragment } from '@logic/routing';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    articleParagraph: ArticleParagraph;
    language: Language;
}

const { articleParagraph, language } = Astro.props;

const id = getUrlFragment(articleParagraph.semanticPath, false, language).fragment;
---

<h5 id={id}>
    {articleParagraph.title}
</h5>
<ContentBaseArray content={getAllChildContent(articleParagraph)} language={language} />
