---
import { Language, PathID } from '@catechism/source/types/types';

import CatechismContent from '@components/catechism-content/catechism-content.astro';
import { ElementID } from '@logic/ui';

interface Props {
    pathID: PathID;
    language: Language;
}
---

<!-- Finalize the height when the UI is finalized (ensure it handles the case of the screen being taller than the content) -->
<div id={ElementID.CATECHISM_CONTENT_WRAPPER} class="min-h-[calc(100vh_-_4rem)] grid grid-rows-[1fr_auto] border border-white/20 relative">
    <CatechismContent pathID={Astro.props.pathID} language={Astro.props.language} />
</div>
