---
import { Language, ParagraphGroup } from '@catechism/source/types/types';
import { getAllChildContent } from '@catechism/source/utils/content';

import { getUrlFragment } from '@logic/routing';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    paragraphGroup: ParagraphGroup;
    language: Language;
}

const { paragraphGroup, language } = Astro.props;

const id = getUrlFragment(paragraphGroup.semanticPath, false, language).fragment;
const childContent = getAllChildContent(paragraphGroup);
---

<h6 id={id}>
    {paragraphGroup.title}
</h6>
<ContentBaseArray content={childContent} language={language} />
