---
import { Language, ParagraphSubitem } from '@catechism/source/types/types';
import { getAllChildContent } from '@catechism/source/utils/content';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    paragraphSubitem: ParagraphSubitem;
    language: Language;
}

const { paragraphSubitem, language } = Astro.props;

const childContent = getAllChildContent(paragraphSubitem);
---

<li>
    <ContentBaseArray content={childContent} language={language} />
</li>
