---
import BaseLayout from '@layouts/base-layout.astro';

import { ContentRoute, getLandingPageRoutes } from '@pages/_routes';

export function getStaticPaths(): Array<ContentRoute> {
    return getLandingPageRoutes();
}

const language = Astro.params.language;
---

<BaseLayout language={language}>
    <div class="flex justify-center items-center">
        <h1>Landing: {language}</h1>
    </div>
</BaseLayout>
