---
import BaseLayout from '@layouts/base-layout.astro';

import { ContentRoute, getIndexPageRoutes } from '@pages/_route-generator';

export function getStaticPaths(): Array<ContentRoute> {
    return getIndexPageRoutes();
}

const language = Astro.params.language;
---

<BaseLayout language={language}>
    <div class="flex justify-center items-center">
        <h1>Index: {language}</h1>
    </div>
</BaseLayout>
