---
import { Language } from '@catechism/source/types/types';

import DevelopmentHelper from '@components/development-helper.astro';
import ProloguePartBlock from '@components/home/prologue-part-block.astro';

import BaseLayout from '@layouts/base-layout.astro';

import { translate as t } from '@logic/translation';

interface Props {
    language: Language;
}

const { language } = Astro.props;
---

<BaseLayout language={language}>
    <div class="h-[calc(100vh_-_3rem)] flex justify-center items-center bg-black/30">
        <h1 class="text-center">{t('Catechism of the Catholic Church', language)}</h1>
    </div>
    <main class="max-w-6xl mx-auto px-8">
        <div>
            <p>About the Catechism ...</p>
            <p>TODO</p>
            <p>The <em>Catechism of the Catholic Church</em> is ...</p>
            <p>It consists of a <em>Prologue</em> and four <em>Parts</em>.</p>
            {/* Check if "apostolic letter/document" should be capitalized */}
            <p>Related to it are the apostolic documents regarding its approval, promulgation, and publication:</p>
        </div>
        <ol class="mt-4">
            <li><a href="./apostolic-constitution">Apostolic Constitution <em>ABC</em></a></li>
            <li><a href="./apostolic-letter">Apostolic Letter <em>XYZ</em></a></li>
        </ol>
        <div class="flex flex-col gap-16 mt-20">
            <ProloguePartBlock title="Prologue" />
            <div class="grid grid-cols-2 gap-16">
                <ProloguePartBlock title="Part 1" />
                <ProloguePartBlock title="Part 2" />
                <ProloguePartBlock title="Part 3" />
                <ProloguePartBlock title="Part 4" />
            </div>
        </div>
    </main>

    <DevelopmentHelper language={language} usePartialLinks={false} />
</BaseLayout>
