---
import { Language } from '@catechism/source/types/types';

import { translate as t } from '@logic/translation';
import ProloguePartBlock from './prologue-part-block.astro';

interface Props {
    language: Language;
}

const { language } = Astro.props;
---

<main>
    <h1 class="text-center mt-16">{t('Catechism of the Catholic Church', language)}</h1>
    <div class="mt-24">
        <p>About the Catechism ...</p>
        <p>TODO</p>
        <p>The <em>Catechism of the Catholic Church</em> is ...</p>
        <p>It consists of a <em>Prologue</em> and four <em>Parts</em>.</p>
        {/* Check if "apostolic letter/document" should be capitalized */}
        <p>Related to it are the apostolic documents regarding its approval, promulgation, and publication:</p>
    </div>
    <ol class="mt-4">
        <li><a href="./apostolic-constitution">Apostolic Constitution <em>ABC</em></a></li>
        <li><a href="./apostolic-letter">Apostolic Letter <em>XYZ</em></a></li>
    </ol>
    <div class="flex flex-col gap-16 mt-20">
        <ProloguePartBlock title="Prologue" />
        <div class="grid grid-cols-2 gap-16">
            <ProloguePartBlock title="Part 1" />
            <ProloguePartBlock title="Part 2" />
            <ProloguePartBlock title="Part 3" />
            <ProloguePartBlock title="Part 4" />
        </div>
    </div>
</main>
