---
import { Language } from '@catechism/source/types/types';

import PartPrologueBlock from './part-prologue-block.astro';

interface Props {
    language: Language;
}
---

{/* TODO: Translate the content according to the `language` prop */}

<h1>Catechism of the Catholic Church</h1>
<div>
    <p>About the Catechism ...</p>
    <p>TODO</p>
    <p>The <em>Catechism of the Catholic Church</em> is ...</p>
    <p>It consists of a <em>Prologue</em> and four <em>Parts</em>.</p>
    {/* Check if "apostolic letter/document" should be capitalized */}
    <p>Related to it are the apostolic documents regarding its approval, promulgation, and publication.</p>
</div>
<div>
    <a href="./apostolic-constitution">Apostolic Constitution <em>ABC</em></a>
    <a href="./apostolic-letter/">Apostolic Letter <em>XYZ</em></a>
</div>
<div>
    <PartPrologueBlock title="Prologue" />
    <div>
        <PartPrologueBlock title="Part 1" />
        <PartPrologueBlock title="Part 2" />
        <PartPrologueBlock title="Part 3" />
        <PartPrologueBlock title="Part 4" />
    </div>
</div>
