---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="p-8 border border-white">
    <h1 class="text-center">{title}</h1>
    <div>... Table of Contents entries go here ...</div>
</div>
